:root {
    --main-bg-color: #111827;
    --secondary-bg-color: #1f2937;
    --main-white-color: #d1d5db;
    --main-gray-color: #9ca3af;
    --main-teal-color: #0f766e;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-white-color);
}

header {
    margin: 50px 0;
    text-align: center;

}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.score {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;

    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.round-result {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;

    background-color: var(--secondary-bg-color);
    border-radius: 3px;

    padding: 100px;
    margin: 50px auto;
}

.btn {
    border: none;
    background: none;
    font-size: 100px;
    

}

 
.logs {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.player-heading {
    color: var(--main-teal-color);
}

.computer-heading {
    color: var(--main-teal-color);
}