:root {
    --main-bg-color: #111827;
    --secondary-bg-color: #1f2937;
    --main-white-color: #d1d5db;
    --main-gray-color: #9ca3af;
    --main-teal-color: #0f766e;
    --secondary-teal-color: #08433e;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

html {
   font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 32px;
}



body {
    background-color: var(--main-bg-color);
    color: var(--main-white-color);
}

header {
    margin: 20px 0;
    text-align: center;

}

i {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


.score {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    color: var(--main-gray-color);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

#round-result {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.55rem;

}



.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    min-width: 0px;

    background-color: var(--secondary-bg-color);
    border-radius: 6px;

    padding: 100px;
    margin: 25px auto 10px auto  ;
}

.btn {
    border: none;
    background: none;
    font-size: 3rem;
    color: var(--main-gray-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;


}

.log-btn {
    border: none;
    background: none;
    font-size: 2rem;
    color: var(--main-gray-color);

}

@media screen and (max-width:500px) {

    html {
        font-size: 16px;
    }

    .btn-container {
        padding: 35px;
        justify-content: center;
        gap: 75px;
        margin-bottom: 30px;
    }

}

.btn:hover {
    transform: scale(1.1);
    color: var(--main-teal-color);
    text-shadow: 1px 4px 10px rgba(0,0,0,0.13);
}

.btn:active {
    color: var(--secondary-teal-color);
    transition: all 0.03s ease-in-out;
}

.logs {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-bg-color);
    margin: 25px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 6px;
}

.player-heading {
    color: var(--main-teal-color);
    font-size: 2rem;
}

.computer-heading {
    color: var(--main-teal-color);
    font-size: 2rem;
}